#cont {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  background: conic-gradient(
    #ffaf02 0% var(--comp-p),               /* Amarillo hasta el fin de completadas */
    #3498db var(--comp-p) var(--start-p),    /* Azul desde completadas hasta iniciadas */
    #ff3c00 var(--start-p) 100%             /* Rojo desde iniciadas hasta el final */
  );
  
  transition: transform 0.3s ease;
}

.pie-chart:hover {
  transform: scale(1.05);
}

.legend {
  text-align: center;
  margin-top: 10px;
}

.legend p {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alineado a la izquierda para que se vea ordenado */
  gap: 8px;
  margin: 5px 0;
}

.dot-completed {
  width: 12px;
  height: 12px;
  background-color: #ffaf02;
  border-radius: 50%;
  display: inline-block;
}

.dot-started {
  width: 12px;
  height: 12px;
  background-color: #3498db; /* Azul para "Started" */
  border-radius: 50%;
  display: inline-block;
}

.dot-pending {
  width: 12px;
  height: 12px;
  background-color: #ff3c00;
  border-radius: 50%;
  display: inline-block;
}